/*! ------------------------------------------------
   Project Name: Mixio Coming Soon Template
   Project Description: Mixio - awesome coming soon template to kick-start your project
   Tags: mixio, coming soon, under construction, template, coming soon page, html5, css3
   Version: 1.0.0
   Build Date: July 2018
   Last Update: July 2018
   This product is available exclusively on Themeforest
   Author: mix_design
   Author URI: http://mixdesign.club
   File name: first-screen.css
   ------------------------------------------------

   ------------------------------------------------
   Table of Contents
   ------------------------------------------------
    1. Reset CSS
    2. Base CSS Styles
    3. Fullpage.js Plugin Styles
    3. Buttons and Controls
    4. Main Section Styles
    5. Main Section Typography Styles
    6. Content Sections Minimal Styles
    7. Popup Forms Minimal Styles
   ------------------------------------------------
   Table of Contents End
   ------------------------------------------------ */
/* ------------------------------------------------*/
/* Reset CSS Start */
/* ------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ------------------------------------------------*/
/* Reset CSS End */
/* ------------------------------------------------*/
/* ------------------------------------------------*/
/* Base Styles Start */
/* ------------------------------------------------*/
*, *::before, *::after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

button:active, button:focus {
  outline: none !important;
}

button::-moz-focus-inner {
  border: 0 !important;
}

input::-moz-focus-inner {
  border: 0 !important;
}

::-moz-selection {
  background-color: #343434;
  color: #b6b6b6;
  text-shadow: none;
}

::selection {
  background-color: #343434;
  color: #b6b6b6;
  text-shadow: none;
}

html {
  font-family: sans-serif;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  min-width: 320px;
  position: relative;
  overflow-x: hidden;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  background-color: #ffffff;
  color: #616161;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #191919;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:hover, a:active, a:visited {
  text-decoration: none;
  color: #191919;
}

.overflow-hidden {
  overflow: hidden !important;
}

.nowrap {
  white-space: nowrap;
}

.fullheight {
  position: relative;
  height: auto;
}

@media only screen and (min-width: 1200px) {
  .fullheight {
    height: 100%;
  }
}

.fullheight-responsive {
  height: 100%;
  min-height: 480px;
}

.no-padding {
  padding: 0;
}

.layer-black,
.layer-black-04 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.layer-black-04 {
  background-color: rgba(0, 0, 0, 0.4);
}

.bg-grey {
  background-color: #fafafa;
}

.bg-dark {
  background-color: #1f1f1f;
}

.bg-dark-transparent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(31, 31, 31, 0.9);
}

/* ------------------------------------------------*/
/* Base Styles End */
/* ------------------------------------------------*/
/* ------------------------------------------------*/
/* FullPage.js Plugin Styles Start */
/* ------------------------------------------------*/
/*!
 * fullPage 2.9.7
 * https://github.com/alvarotrigo/fullPage.js
 * MIT licensed
 *
 * Copyright (C) 2013 alvarotrigo.com - A project by Alvaro Trigo
 */
html.fp-enabled,
.fp-enabled body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*Avoid flicker on slides transitions for mobile phones #336 */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.fp-section {
  position: relative;
  -webkit-box-sizing: border-box;
  /* Safari<=5 Android<=3 */
  -moz-box-sizing: border-box;
  /* <=28 */
  box-sizing: border-box;
}

.fp-slide {
  float: left;
}

.fp-slide, .fp-slidesContainer {
  height: 100%;
  display: block;
}

.fp-slides {
  z-index: 1;
  height: 100%;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  /* Safari<=6 Android<=4.3 */
  -o-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.fp-section.fp-table, .fp-slide.fp-table {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.fp-tableCell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

.fp-slidesContainer {
  float: left;
  position: relative;
}

.fp-controlArrow {
  -webkit-user-select: none;
  /* webkit (safari, chrome) browsers */
  -moz-user-select: none;
  /* mozilla browsers */
  -khtml-user-select: none;
  /* webkit (konqueror) browsers */
  -ms-user-select: none;
  /* IE10+ */
  position: absolute;
  z-index: 4;
  top: 50%;
  cursor: pointer;
  width: 0;
  height: 0;
  border-style: solid;
  margin-top: -38px;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
       transform: translate3d(0, 0, 0);
}

.fp-controlArrow.fp-prev {
  left: 15px;
  width: 0;
  border-width: 38.5px 34px 38.5px 0;
  border-color: transparent #fff transparent transparent;
}

.fp-controlArrow.fp-next {
  right: 15px;
  border-width: 38.5px 0 38.5px 34px;
  border-color: transparent transparent transparent #fff;
}

.fp-scrollable {
  overflow: hidden;
  position: relative;
}

.fp-scroller {
  overflow: hidden;
}

.iScrollIndicator {
  border: 0 !important;
}

.fp-notransition {
  -webkit-transition: none !important;
  -o-transition: none !important;
  -moz-transition: none !important;
  transition: none !important;
}

#fp-nav {
  position: fixed;
  z-index: 100;
  margin-top: -32px;
  top: 50%;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
}

#fp-nav.right {
  right: 17px;
}

#fp-nav.left {
  left: 17px;
}

.fp-slidesNav {
  position: absolute;
  z-index: 4;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
       transform: translate3d(0, 0, 0);
  left: 0 !important;
  right: 0;
  margin: 0 auto !important;
}

.fp-slidesNav.bottom {
  bottom: 17px;
}

.fp-slidesNav.top {
  top: 17px;
}

#fp-nav ul,
.fp-slidesNav ul {
  margin: 0;
  padding: 0;
}

#fp-nav ul li,
.fp-slidesNav ul li {
  display: block;
  width: 14px;
  height: 13px;
  margin: 7px;
  position: relative;
}

.fp-slidesNav ul li {
  display: inline-block;
}

#fp-nav ul li a,
.fp-slidesNav ul li a {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
}

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
  height: 12px;
  width: 12px;
  margin: -6px 0 0 -6px;
  -webkit-border-radius: 100%;
     -moz-border-radius: 100%;
          border-radius: 100%;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  position: absolute;
  z-index: 1;
  height: 4px;
  width: 4px;
  border: 0;
  background: #333;
  left: 50%;
  top: 50%;
  margin: -2px 0 0 -2px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span {
  width: 10px;
  height: 10px;
  margin: -5px 0px 0px -5px;
}

#fp-nav ul li .fp-tooltip {
  position: absolute;
  top: -2px;
  color: #fff;
  font-size: 14px;
  font-family: arial, helvetica, sans-serif;
  white-space: nowrap;
  max-width: 220px;
  overflow: hidden;
  display: block;
  opacity: 0;
  width: 0;
  cursor: pointer;
}

#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active + .fp-tooltip {
  -webkit-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  -moz-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  width: auto;
  opacity: 1;
}

#fp-nav ul li .fp-tooltip.right {
  right: 20px;
}

#fp-nav ul li .fp-tooltip.left {
  left: 20px;
}

.fp-auto-height.fp-section,
.fp-auto-height .fp-slide,
.fp-auto-height .fp-tableCell {
  height: auto !important;
}

.fp-responsive .fp-auto-height-responsive.fp-section,
.fp-responsive .fp-auto-height-responsive .fp-slide,
.fp-responsive .fp-auto-height-responsive .fp-tableCell {
  height: auto !important;
}

#fp-nav ul li,
.fp-slidesNav ul li {
  width: 20px;
  height: 20px;
  margin: 4px;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  width: 8px;
  height: 8px;
  margin: -4px 0 0 -4px;
  background: rgba(202, 202, 202, 0.6);
}

#fp-nav ul li a span::after,
.fp-slidesNav ul li a span::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
     -moz-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 20px;
  height: 20px;
  border: 1px solid #cacaca;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  opacity: 0;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(0);
     -moz-transform: translateX(-50%) translateY(-50%) scale(0);
      -ms-transform: translateX(-50%) translateY(-50%) scale(0);
          transform: translateX(-50%) translateY(-50%) scale(0);
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span {
  background: #cacaca;
}

#fp-nav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li a.active span,
.fp-slidesNav ul li:hover a.active span {
  background: #cacaca;
  width: 10px;
  height: 10px;
  margin: -5px 0 0 -5px;
}

#fp-nav ul li a.active span::after,
.fp-slidesNav ul li a.active span::after {
  -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
     -moz-transform: translateX(-50%) translateY(-50%) scale(1);
      -ms-transform: translateX(-50%) translateY(-50%) scale(1);
          transform: translateX(-50%) translateY(-50%) scale(1);
  opacity: 1;
}

/* ------------------------------------------------*/
/* FullPage.js Plugin Styles End */
/* ------------------------------------------------*/
/* ------------------------------------------------*/
/* Buttons & Triggers Styles Start */
/* ------------------------------------------------*/
.btn {
  position: relative;
  display: inline-block;
  border: none;
  outline: 0;
  padding: 0;
  font: inherit;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow: hidden;
}

.btn-line {
  margin: 0 2rem 0 0;
  padding: 1.8rem 0 0 0;
  font: normal 800 1.4rem/1 "Raleway", sans-serif;
  color: #191919;
  -webkit-transition: padding 0.3s ease-in-out;
  -o-transition: padding 0.3s ease-in-out;
  -moz-transition: padding 0.3s ease-in-out;
  transition: padding 0.3s ease-in-out;
}

.btn-line::before {
  display: none;
}

.btn-line:last-of-type {
  margin: 0;
}

.btn-line.centered span {
  padding: 0 0 0 5.8rem;
}

.btn-line span {
  position: relative;
  display: block;
  padding: 0 1.4rem 0 5.8rem;
  -webkit-transition: padding .5s;
  -o-transition: padding .5s;
  -moz-transition: padding .5s;
  transition: padding .5s;
}

.btn-line span::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: -webkit-calc(50% - 1px);
  top: -moz-calc(50% - 1px);
  top: calc(50% - 1px);
  width: 40px;
  height: 2px;
  background-color: #191919;
  -webkit-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  -moz-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

.no-touch .btn-line:hover {
  color: #191919;
  text-decoration: none;
  padding: 1.8rem 0 0 0;
}

.no-touch .btn-line:hover span {
  padding: 0 0 0 7.2rem;
}

.no-touch .btn-line:hover span::before {
  width: 48px;
}

@media only screen and (min-width: 768px) {
  .btn-line {
    margin: 0 5.8rem 0 0;
  }
}

.btn-line-light {
  color: #ffffff;
}

.btn-line-light span::before {
  background-color: #ffffff;
}

.no-touch .btn-line-light:hover {
  color: #ffffff;
  text-decoration: none;
}

.btn-line-light:active, .btn-line-light:visited {
  text-decoration: none;
  color: #ffffff;
}

/* ------------------------------------------------*/
/* Buttons & Triggers Styles End */
/* ------------------------------------------------*/
/* ------------------------------------------------*/
/* Main Section Styles Start */
/* ------------------------------------------------*/
.home {
  min-height: 480px;
  overflow-x: hidden;
}

.home_intro,
.home_media {
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
     -moz-background-size: cover;
          background-size: cover;
}

.home_media {
  height: 600px;
  opacity: 0;
  -webkit-transition: opacity .6s ease-in-out;
  -o-transition: opacity .6s ease-in-out;
  -moz-transition: opacity .6s ease-in-out;
  transition: opacity .6s ease-in-out;
}

@media only screen and (min-width: 768px) {
  .home_media {
    height: 760px;
  }
}

@media only screen and (min-width: 1200px) {
  .home_media {
    height: 100%;
  }
}

.home_intro {
  padding: 180px 0;
  opacity: 1;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}

.home_intro.type-4 {
  padding: 0;
}

.home_intro.is-hidden .logo,
.home_intro.is-hidden .socials,
.home_intro.is-hidden .headline {
  opacity: 0;
}

@media only screen and (min-width: 1200px) {
  .home_intro {
    padding: 0;
  }
}

.logo {
  position: absolute;
  top: 3.2rem;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 998;
  opacity: 0;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.logo .mobile {
  display: block;
}

.logo .decktop {
  display: none;
}

@media only screen and (min-width: 1200px) {
  .logo {
    position: absolute;
    -webkit-transform: translateX(0);
       -moz-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    top: 3.2rem;
    left: 10rem;
  }
  .logo .mobile {
    display: none;
  }
  .logo .decktop {
    display: block;
  }
}

@media only screen and (min-width: 1600px) {
  .logo {
    top: 4rem;
    left: 14rem;
  }
}

.headline {
  position: relative;
  width: 100%;
  padding: 0 10%;
  opacity: 1;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.headline h1, .headline p, .headline a {
  opacity: 0;
}

@media only screen and (min-width: 1200px) {
  .headline {
    position: absolute;
    padding: 0 10rem;
    left: 0;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .headline.headline-bottom {
    position: absolute;
    top: auto;
    left: 0;
    bottom: 8rem;
    padding: 0 10rem;
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }
}

@media only screen and (min-width: 1600px) {
  .headline {
    position: absolute;
    padding: 0 14rem;
    left: 0;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .headline.headline-bottom {
    top: auto;
    left: 0;
    bottom: 12rem;
    padding: 0 14rem;
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }
}

.menu-black-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 480px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.menu-black-layer.is-visible {
  opacity: 1;
  visibility: visible;
}

nav {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: 12rem 0 10rem 0;
  background-color: #ffffff;
  z-index: 1000;
  overflow-y: auto;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .6s ease-in-out;
  -o-transition: all .6s ease-in-out;
  -moz-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
}

nav.dark {
  background-color: #1f1f1f;
}

nav.is-visible {
  opacity: 1;
  visibility: visible;
}

nav.is-visible ul.menu li:nth-of-type(1) {
  opacity: 1;
  -webkit-transform: translateY(0);
     -moz-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: opacity 0.3s 0.6s, -webkit-transform 0.3s 0.6s;
  transition: opacity 0.3s 0.6s, -webkit-transform 0.3s 0.6s;
  -o-transition: transform 0.3s 0.6s, opacity 0.3s 0.6s;
  -moz-transition: transform 0.3s 0.6s, opacity 0.3s 0.6s, -moz-transform 0.3s 0.6s;
  transition: transform 0.3s 0.6s, opacity 0.3s 0.6s;
  transition: transform 0.3s 0.6s, opacity 0.3s 0.6s, -webkit-transform 0.3s 0.6s, -moz-transform 0.3s 0.6s;
}

nav.is-visible ul.menu li:nth-of-type(2) {
  opacity: 1;
  -webkit-transform: translateY(0);
     -moz-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: opacity 0.3s 0.7s, -webkit-transform 0.3s 0.7s;
  transition: opacity 0.3s 0.7s, -webkit-transform 0.3s 0.7s;
  -o-transition: transform 0.3s 0.7s, opacity 0.3s 0.7s;
  -moz-transition: transform 0.3s 0.7s, opacity 0.3s 0.7s, -moz-transform 0.3s 0.7s;
  transition: transform 0.3s 0.7s, opacity 0.3s 0.7s;
  transition: transform 0.3s 0.7s, opacity 0.3s 0.7s, -webkit-transform 0.3s 0.7s, -moz-transform 0.3s 0.7s;
}

nav.is-visible ul.menu li:nth-of-type(3) {
  opacity: 1;
  -webkit-transform: translateY(0);
     -moz-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: opacity 0.3s 0.8s, -webkit-transform 0.3s 0.8s;
  transition: opacity 0.3s 0.8s, -webkit-transform 0.3s 0.8s;
  -o-transition: transform 0.3s 0.8s, opacity 0.3s 0.8s;
  -moz-transition: transform 0.3s 0.8s, opacity 0.3s 0.8s, -moz-transform 0.3s 0.8s;
  transition: transform 0.3s 0.8s, opacity 0.3s 0.8s;
  transition: transform 0.3s 0.8s, opacity 0.3s 0.8s, -webkit-transform 0.3s 0.8s, -moz-transform 0.3s 0.8s;
}

nav.is-visible ul.menu li:nth-of-type(4) {
  opacity: 1;
  -webkit-transform: translateY(0);
     -moz-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: opacity 0.3s 0.9s, -webkit-transform 0.3s 0.9s;
  transition: opacity 0.3s 0.9s, -webkit-transform 0.3s 0.9s;
  -o-transition: transform 0.3s 0.9s, opacity 0.3s 0.9s;
  -moz-transition: transform 0.3s 0.9s, opacity 0.3s 0.9s, -moz-transform 0.3s 0.9s;
  transition: transform 0.3s 0.9s, opacity 0.3s 0.9s;
  transition: transform 0.3s 0.9s, opacity 0.3s 0.9s, -webkit-transform 0.3s 0.9s, -moz-transform 0.3s 0.9s;
}

nav.is-visible ul.menu li:nth-of-type(5) {
  opacity: 1;
  -webkit-transform: translateY(0);
     -moz-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: opacity 0.3s 1s, -webkit-transform 0.3s 1s;
  transition: opacity 0.3s 1s, -webkit-transform 0.3s 1s;
  -o-transition: transform 0.3s 1s, opacity 0.3s 1s;
  -moz-transition: transform 0.3s 1s, opacity 0.3s 1s, -moz-transform 0.3s 1s;
  transition: transform 0.3s 1s, opacity 0.3s 1s;
  transition: transform 0.3s 1s, opacity 0.3s 1s, -webkit-transform 0.3s 1s, -moz-transform 0.3s 1s;
}

@media only screen and (min-width: 1200px) {
  nav {
    width: 50%;
  }
  nav.dark {
    width: 100%;
  }
}

.menu-close {
  position: absolute;
  top: 3.2rem;
  left: 3.2rem;
  width: 48px;
  height: 48px;
  background-color: #ffffff;
  font-size: 6rem;
  color: #191919;
  -webkit-transform: scale(0);
     -moz-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: center;
     -moz-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  -o-transition: transform .3s ease-in-out;
  -moz-transition: transform .3s ease-in-out, -moz-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out, -moz-transform .3s ease-in-out;
}

.menu-close i {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

.menu-close i::before {
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
     -moz-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.menu-close.light {
  background-color: transparent;
  color: #ffffff;
}

.menu-close.is-scaled-up {
  -webkit-transform: scale(1);
     -moz-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

@media only screen and (min-width: 1600px) {
  .menu-close {
    top: 4rem;
    left: 4rem;
  }
}

ul.menu {
  display: block;
  position: relative;
  list-style: none;
  margin: 0 0 0 0;
  padding: 0 10%;
}

ul.menu li {
  display: block;
  margin-bottom: 4rem;
  opacity: 0;
  -webkit-transform: translateY(50px);
     -moz-transform: translateY(50px);
      -ms-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  -o-transition: opacity 0.3s, transform 0.3s;
  -moz-transition: opacity 0.3s, transform 0.3s, -moz-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s, -moz-transform 0.3s;
}

ul.menu li:last-of-type {
  margin-bottom: 0;
}

ul.menu li.active a {
  color: rgba(0, 0, 0, 0.9);
}

ul.menu li.active a span {
  padding: 0 0 0 5.8rem;
}

ul.menu li.active a span::before {
  -webkit-transform: translateX(0);
     -moz-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.no-touch ul.menu li:hover a {
  color: rgba(0, 0, 0, 0.9);
}

.no-touch ul.menu li:hover a span {
  padding: 0 0 0 5.8rem;
}

.no-touch ul.menu li:hover a span::before {
  -webkit-transform: translateX(0);
     -moz-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

ul.menu a {
  display: block;
  position: relative;
  font: normal 700 2.8rem/1.1 "PlayfairDisplay", serif;
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  -webkit-transition: color .3s;
  -o-transition: color .3s;
  -moz-transition: color .3s;
  transition: color .3s;
}

ul.menu a span {
  display: block;
  position: relative;
  margin-top: .8rem;
  padding: 0 5.8rem 0 0;
  font: normal 500 1.6rem/1.1 "Raleway", sans-serif;
  color: rgba(0, 0, 0, 0.9);
  overflow: hidden;
  -webkit-transition: padding .3s;
  -o-transition: padding .3s;
  -moz-transition: padding .3s;
  transition: padding .3s;
}

ul.menu a span::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 40px;
  height: 2px;
  background-color: #191919;
  -webkit-transform: translateX(-40px);
     -moz-transform: translateX(-40px);
      -ms-transform: translateX(-40px);
          transform: translateX(-40px);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  -o-transition: transform .3s;
  -moz-transition: transform .3s, -moz-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s, -moz-transform .3s;
}

@media only screen and (min-width: 768px) {
  ul.menu a {
    font-size: 3.2rem;
  }
}

@media only screen and (min-width: 1200px) {
  ul.menu {
    position: absolute;
    left: 0;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    padding: 0 10rem;
  }
}

@media only screen and (min-width: 1600px) {
  ul.menu {
    padding: 0 14rem;
  }
  ul.menu a {
    font-size: 4rem;
  }
}

nav.dark ul.menu {
  text-align: center;
}

nav.dark ul.menu li.active a {
  color: rgba(255, 255, 255, 0.9);
}

nav.dark ul.menu li.active a span {
  color: #ffffff;
  padding: 0;
}

.no-touch nav.dark ul.menu li:hover a {
  color: rgba(255, 255, 255, 0.9);
}

.no-touch nav.dark ul.menu li:hover a span {
  color: #ffffff;
  padding: 0;
}

nav.dark ul.menu a {
  color: rgba(255, 255, 255, 0.4);
}

nav.dark ul.menu a span {
  font: normal 400 1.6rem/1.1 "Raleway", sans-serif;
  color: rgba(255, 255, 255, 0.6);
  padding: 0;
  -webkit-transition: color .6s;
  -o-transition: color .6s;
  -moz-transition: color .6s;
  transition: color .6s;
}

nav.dark ul.menu a span::before {
  display: none;
}

@media only screen and (min-width: 1200px) {
  nav.dark ul.menu {
    left: auto;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
       -moz-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
  }
}

.menu-button {
  position: absolute;
  top: 3.2rem;
  left: 3.2rem;
  width: 48px;
  height: 48px;
  background-color: transparent;
  opacity: 0;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.menu-button.is-visible {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
     -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

@media only screen and (min-width: 1600px) {
  .menu-button {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }
}

.menu-trigger {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
     -moz-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 40px;
  height: 40px;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.menu-trigger.animate-out span:nth-of-type(4) {
  opacity: 0;
  -webkit-transform: translate3d(20px, -20px, 0px) rotate(-45deg);
     -moz-transform: translate3d(20px, -20px, 0px) rotate(-45deg);
          transform: translate3d(20px, -20px, 0px) rotate(-45deg);
  -webkit-transition: opacity 0.3s 0s, -webkit-transform 0.3s 0s;
  transition: opacity 0.3s 0s, -webkit-transform 0.3s 0s;
  -o-transition: transform 0.3s 0s, opacity 0.3s 0s;
  -moz-transition: transform 0.3s 0s, opacity 0.3s 0s, -moz-transform 0.3s 0s;
  transition: transform 0.3s 0s, opacity 0.3s 0s;
  transition: transform 0.3s 0s, opacity 0.3s 0s, -webkit-transform 0.3s 0s, -moz-transform 0.3s 0s;
}

.menu-trigger.animate-out span:nth-of-type(5) {
  opacity: 0;
  -webkit-transform: translate3d(-20px, 20px, 0px) rotate(-45deg);
     -moz-transform: translate3d(-20px, 20px, 0px) rotate(-45deg);
          transform: translate3d(-20px, 20px, 0px) rotate(-45deg);
  -webkit-transition: opacity 0.3s 0s, -webkit-transform 0.3s 0s;
  transition: opacity 0.3s 0s, -webkit-transform 0.3s 0s;
  -o-transition: transform 0.3s 0s, opacity 0.3s 0s;
  -moz-transition: transform 0.3s 0s, opacity 0.3s 0s, -moz-transform 0.3s 0s;
  transition: transform 0.3s 0s, opacity 0.3s 0s;
  transition: transform 0.3s 0s, opacity 0.3s 0s, -webkit-transform 0.3s 0s, -moz-transform 0.3s 0s;
}

.menu-trigger.animate-out span:nth-of-type(2) {
  opacity: 0;
  -webkit-transform: translate3d(36px, -36px, 0px) rotate(-45deg);
     -moz-transform: translate3d(36px, -36px, 0px) rotate(-45deg);
          transform: translate3d(36px, -36px, 0px) rotate(-45deg);
  -webkit-transition: opacity 0.3s 0.1s, -webkit-transform 0.3s 0.1s;
  transition: opacity 0.3s 0.1s, -webkit-transform 0.3s 0.1s;
  -o-transition: transform 0.3s 0.1s, opacity 0.3s 0.1s;
  -moz-transition: transform 0.3s 0.1s, opacity 0.3s 0.1s, -moz-transform 0.3s 0.1s;
  transition: transform 0.3s 0.1s, opacity 0.3s 0.1s;
  transition: transform 0.3s 0.1s, opacity 0.3s 0.1s, -webkit-transform 0.3s 0.1s, -moz-transform 0.3s 0.1s;
}

.menu-trigger.animate-out span:nth-of-type(3) {
  opacity: 0;
  -webkit-transform: translate3d(-36px, 36px, 0px) rotate(-45deg);
     -moz-transform: translate3d(-36px, 36px, 0px) rotate(-45deg);
          transform: translate3d(-36px, 36px, 0px) rotate(-45deg);
  -webkit-transition: opacity 0.3s 0.1s, -webkit-transform 0.3s 0.1s;
  transition: opacity 0.3s 0.1s, -webkit-transform 0.3s 0.1s;
  -o-transition: transform 0.3s 0.1s, opacity 0.3s 0.1s;
  -moz-transition: transform 0.3s 0.1s, opacity 0.3s 0.1s, -moz-transform 0.3s 0.1s;
  transition: transform 0.3s 0.1s, opacity 0.3s 0.1s;
  transition: transform 0.3s 0.1s, opacity 0.3s 0.1s, -webkit-transform 0.3s 0.1s, -moz-transform 0.3s 0.1s;
}

.menu-trigger.animate-out span:nth-of-type(1) {
  opacity: 0;
  -webkit-transform: translate3d(51px, -51px, 0px) rotate(-45deg);
     -moz-transform: translate3d(51px, -51px, 0px) rotate(-45deg);
          transform: translate3d(51px, -51px, 0px) rotate(-45deg);
  -webkit-transition: opacity 0.3s 0.2s, -webkit-transform 0.3s 0.2s;
  transition: opacity 0.3s 0.2s, -webkit-transform 0.3s 0.2s;
  -o-transition: transform 0.3s 0.2s, opacity 0.3s 0.2s;
  -moz-transition: transform 0.3s 0.2s, opacity 0.3s 0.2s, -moz-transform 0.3s 0.2s;
  transition: transform 0.3s 0.2s, opacity 0.3s 0.2s;
  transition: transform 0.3s 0.2s, opacity 0.3s 0.2s, -webkit-transform 0.3s 0.2s, -moz-transform 0.3s 0.2s;
}

.menu-trigger span {
  display: block;
  position: absolute;
  height: 2px;
  background-color: #000000;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  opacity: 1;
  -webkit-transform-origin: left center;
     -moz-transform-origin: left center;
      -ms-transform-origin: left center;
          transform-origin: left center;
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: opacity .3s ease-in-out, -webkit-transform .3s;
  transition: opacity .3s ease-in-out, -webkit-transform .3s;
  -o-transition: transform .3s, opacity .3s ease-in-out;
  -moz-transition: transform .3s, opacity .3s ease-in-out, -moz-transform .3s;
  transition: transform .3s, opacity .3s ease-in-out;
  transition: transform .3s, opacity .3s ease-in-out, -webkit-transform .3s, -moz-transform .3s;
}

.menu-trigger span:nth-of-type(1) {
  width: 54px;
  left: 0;
  bottom: 0;
}

.menu-trigger span:nth-of-type(2), .menu-trigger span:nth-of-type(3) {
  width: 36px;
}

.menu-trigger span:nth-of-type(2) {
  left: 14px;
  bottom: 0;
}

.menu-trigger span:nth-of-type(3) {
  left: 0;
  bottom: 14px;
}

.menu-trigger span:nth-of-type(4), .menu-trigger span:nth-of-type(5) {
  width: 16px;
}

.menu-trigger span:nth-of-type(4) {
  left: 28px;
  bottom: 0;
}

.menu-trigger span:nth-of-type(5) {
  left: 0;
  bottom: 28px;
}

.menu-trigger.light span {
  background-color: #ffffff;
}

.menu-trigger.dark-light span {
  background-color: #000000;
}

@media only screen and (min-width: 1200px) {
  .menu-trigger.dark-light span {
    background-color: #ffffff;
  }
}

.countdown {
  position: absolute;
  left: 0;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  z-index: 1;
  text-align: center;
}

.countdown #countdown {
  position: relative;
  font-family: "Raleway", sans-serif;
  font-size: 6rem;
  font-weight: 700;
  line-height: .8;
  color: #ffffff;
}

.countdown .help-text {
  display: block;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2;
  color: #ffffff;
  margin-top: .8rem;
  text-transform: uppercase;
  letter-spacing: .2em;
}

.countdown.countdown-full #countdown-large {
  font: normal 700 4rem/1.1 "PlayfairDisplay", serif;
  letter-spacing: normal;
  color: #ffffff;
}

.countdown.countdown-full .countdown-section {
  display: inline-block;
  margin-right: 3.2rem;
}

.countdown.countdown-full .countdown-section:last-of-type {
  margin-right: 0;
}

.countdown.countdown-full .countdown-period {
  display: block;
  font: normal 400 1.2rem/1.7 "Raleway", sans-serif;
  letter-spacing: normal;
}

.countdown.countdown-full .help-text {
  margin: 0 0 2.4rem 0;
}

.countdown.countdown-days {
  position: absolute;
  bottom: auto;
  right: auto;
  left: 0;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

.countdown.countdown-days #countdown {
  font: normal 700 8rem/0.8 "PlayfairDisplay", serif;
  letter-spacing: 0.075em;
}

.countdown.countdown-days .countdown-period {
  display: none;
}

.countdown.countdown-days .help-text {
  text-transform: uppercase;
  letter-spacing: .2em;
  margin: 1.6rem 0 0 0;
}

@media only screen and (min-width: 768px) {
  .countdown.countdown-days #countdown {
    font-size: 10rem;
  }
  .countdown.countdown-full .countdown-section {
    margin-right: 6rem;
  }
  .countdown.countdown-full #countdown-large {
    font-size: 5.6rem;
  }
  .countdown.countdown-full .countdown-period {
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 1600px) {
  .countdown .help-text {
    font-size: 1.6rem;
  }
  .countdown.countdown-days #countdown {
    font-size: 12rem;
  }
  .countdown.countdown-full .countdown-section {
    margin-right: 8rem;
  }
  .countdown.countdown-full #countdown-large {
    font-size: 7rem;
  }
  .countdown.countdown-full .countdown-period {
    font-size: 1.6rem;
  }
}

.socials {
  position: absolute;
  bottom: 3.2rem;
  width: 100%;
  padding: 0 3.2rem;
  opacity: 0;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.socials::after {
  clear: both;
  content: "";
  display: table;
}

.socials.type-4 {
  position: absolute;
  left: 0;
  bottom: 3.2rem;
}

.socials ul {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
}

.socials ul::after {
  clear: both;
  content: "";
  display: table;
}

.socials ul li {
  display: block;
  float: left;
  margin: 0 3rem 0 0;
}

.socials ul li:last-of-type {
  margin: 0;
}

.socials ul li a {
  display: block;
  position: relative;
  width: 2.4rem;
  height: 2.4rem;
  line-height: 2.4rem;
  text-align: center;
  font-size: 1.6rem;
  color: #191919;
  -webkit-transition: color .3s;
  -o-transition: color .3s;
  -moz-transition: color .3s;
  transition: color .3s;
}

.socials ul li a.light-text {
  color: #ffffff;
}

.socials ul li a i {
  font-size: 1.6rem;
}

.no-touch .socials ul li:hover a {
  color: #aaa;
}

@media only screen and (min-width: 768px) {
  .socials.type-4 {
    width: auto;
    position: absolute;
    left: auto;
    bottom: auto;
    right: 3.2rem;
    top: 3.2rem;
    padding: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .socials {
    width: auto;
    padding: 0;
    position: absolute;
    top: 3.2rem;
    right: 3.2rem;
    bottom: auto;
  }
}

@media only screen and (min-width: 1600px) {
  .socials {
    position: absolute;
    top: 4rem;
    right: 4rem;
  }
}

.footer-content .socials {
  text-align: center;
}

.footer-content .socials ul {
  display: inline-block;
}

@media only screen and (min-width: 1200px) {
  .footer-content .socials {
    position: relative;
    top: auto;
    right: auto;
  }
}

@media only screen and (min-width: 1600px) {
  .footer-content .socials {
    position: relative;
    top: auto;
    right: auto;
  }
}

/* ------------------------------------------------*/
/* Main Section Styles End */
/* ------------------------------------------------*/
/* ------------------------------------------------*/
/* Main Section Typography Styles Start */
/* ------------------------------------------------*/
.light-text {
  color: #ffffff;
}

h1 {
  font: normal 700 5rem/1.1 "PlayfairDisplay", serif;
  color: #222222;
  margin: 3rem 0 4rem 0;
}

h1.title-bottom {
  font: normal 700 5rem/1.1 "PlayfairDisplay", serif;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 7rem;
  }
  h1.title-bottom {
    font-size: 7rem;
  }
}

@media only screen and (min-width: 1200px) {
  h1.title-bottom {
    font-size: 9rem;
  }
}

@media only screen and (min-width: 1600px) {
  h1 {
    font-size: 9rem;
  }
  h1.title-bottom {
    font-size: 11rem;
  }
}

.headline p {
  font-size: 1.6rem;
  max-width: 480px;
  margin: 0 0 2.6rem 0;
}

@media only screen and (min-width: 1200px) {
  .headline p {
    font-size: 1.8rem;
  }
}

@media only screen and (min-width: 1600px) {
  .headline p {
    max-width: 500px;
  }
}

/* ------------------------------------------------*/
/* Main Section Typography Styles End */
/* ------------------------------------------------*/
/* ------------------------------------------------*/
/* Popup Forms Minimal Styles Start */
/* ------------------------------------------------*/
.popup {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
}

/* ------------------------------------------------*/
/* Popup Forms Minimal Styles End */
/* ------------------------------------------------*/
